*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body{
    background-color: #f4f4f4;
}

.mainContainer{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

/*Header*/
.header{
    grid-area: header;
}

.headerContainer{
    width: 100%;
    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.logo{
    height: 32px;
}

.nav{
    display: none;
}

.burgerMenu{
    color: #020202;
    display: inherit;
}

/*Main Section*/

.mainSection{
    width: 100%;
    grid-area: main;
}

.mainTitleContainer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.pokeball{
    width: 48px;
}

.mainTitle{
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
}

.pokeTypeContainer{
    width: 100%;
    padding: 2rem;
}

.pokeTypeTitle{
    font-size: 1.5rem;
    color: #020202;
}

.pokeGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 1rem;
}

.pokeCard{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.pokeCard:hover{
    transform: translateY(-20px) rotateY(20deg) rotatex(10deg) rotateZ(-5deg) scale(1.05);
    animation: bouncingCard 2s ease-in-out infinite;
    animation-delay: 300ms;
}

@keyframes bouncingCard{
    0%{
        transform: translateY(-20px) rotateY(20deg) rotatex(10deg) rotateZ(-5deg) scale(1.05);
    }
    50%{
        transform: translateY(0px) rotateY(0deg) rotatex(00deg) rotateZ(0deg) scale(1.05);
    }
    100%{
        transform: translateY(-20px) rotateY(20deg) rotatex(10deg) rotateZ(-5deg) scale(1.05);
    }
}

.pokePhoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: -20px;
}

.pokeContent{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.name{
    font-size: 2rem;
    color: white;
    text-align: center;
}

.pokeType{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: .125rem;
    background-color: white;
    border-radius: 999px;
    padding: 2px 1rem;
}

.fire{
    color: #e7800b;
}

.fireBg{
    background-color: #FF961B;
}

.electric{
    color: #c2920e;
}

.electricBg{
    background-color: #ffbf34;
}

.water{
    color: #0f97e6;
}

.waterBg{
    background-color: #3DBFE8;
}

.plant{
    color: #41B985;
}

.plantBg{
    background-color: #41B985;
}

/*Footer*/
.footer{
    grid-area: footer;
}

.footerContainer{
    width: 100%;
    padding: 2rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.logoFooterContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.footerLogo{
    font-size: 1.25rem;
    font-weight: 700;
    color: #020202;
}

a{
    text-decoration: none;
}

.socialContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.socialImg{
    width: 32px;
}


@media (min-width: 570px) {

    .mainContainer{
        height: 100vh;
        display: grid;
        grid-template-areas:
        "header main"
        "header footer";
        grid-template-columns: 250px 1fr;
    }

    .headerContainer{
        width: 100%;
        height: 100%;
        padding: 24px 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #fff;
    }
    .logo{
        height: 48px;
    }

    .burgerMenu{
        display: none;
    }

    .nav{
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1.5rem;
        margin-top: 2rem;
    }
    
    .nav li{
        width: 100%;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .nav li a{
        width: 100%;
        color: #020202;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
        padding: .5rem 0rem;
        width: 100%;
        border-radius: 999px;
        transition: all 200ms ease-in-out;
    }
    .nav li a:hover{
        background-color: #020202;
        color: white;
        padding: .5rem 1rem;
    }

    /*Main Section*/
    .pokeGrid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
    }

    .pokeCard{
        height: 400px;
    }

}